<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <title>To Do List</title>
</head>

<body>

    <% if (message != "") {%>
        <%- include('./components/messages', {message: message, type: type})  %>
    <% } %>

    <header>

        <% if (task==null) { %>
            <%- include('./components/form', {titleForm: "TO DO LIST", action: "create", value: "", idBtn: "addButton", nameBtn: "Adicionar"})%>
        <% } else { %>
            <%- include('./components/form', {titleForm: "EDITAR TAREFA", action: `updateOne/${task._id}`, value: task.task, idBtn: "updateButton", nameBtn: "Atualizar"}) %>
        <% } %>

    </header>
    <table>
        <thead>
            <tr>
                <th>Erro de IIS/ Página</th>
                <th>Data de criação</th>
                <th>Cliente/Usuário</th>
                <th>Data</th>
                <th>Hora</th>
                <th>ASP Aplicado em Produção</th>
                <th>Pacote Aplicado/ TICKET</th>
                <th>Comentarios</th>
                <th>Responsavel</th>
                <th>Status</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <% tasksList.forEach((task)=>{ %>
                <tr>
                    <td><%= task.task %></td>
                    <td><%= task.date.toLocaleDateString('pt-BR') %></td>
                    <td><%= task.descricao %></td>
                    <td><%= task.date %></td>
                    <td><%= task.hora %></td>
                    <td><%= task.categoria %></td>
                    <td><%= task.prioridade %></td>
                    <td><%= task.comentarios %></td>
                    <td><%= task.responsavel %></td>
                    <td><%= task.status %></td>
                    <td><a class="btnUpdate" href="/getById/<%= task._id %>/update"><i class="bi bi-pencil-square"></i></a></td>
                    <td><a class="btnDelete" href="/getById/<%= task._id %>/delete"><i class="bi bi-trash"></i></a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <% if (taskDelete !=null) { %>
        <%- include('./components/modalDel', {task: taskDelete})  %>
    <% } %>


            <script src="script.js"></script>
</body>

</html>